version: "3.8"
services:
  db:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=sua_senha
      - MYSQL_DATABASE=monitoramento
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  mosquitto:
    image: eclipse-mosquitto:2
    ports:
      - "1883:1883"
      - "9001:9001"

  backend:
    build: .
    volumes:
      - .:/app
    working_dir: /app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    environment:
      DB_USER: root
      DB_PASS: sua_senha
      DB_HOST: db
      DB_NAME: monitoramento
      MQTT_HOST: mosquitto
    depends_on:
      - db
      - mosquitto

volumes:
  db_data:
